/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* All of your setup and non media query CSS */

@font-face {
  font-family: 'SourceSansPro';
  src: url(../css/sourcesanspro-regular-webfont.woff2) format('woff2'), /* Super Modern Browsers */
       url(../css/sourcesanspro-regular-webfont.woff) format('woff'), /* Pretty Modern Browsers */
       url(../css/sourcesanspro-regular-webfont.ttf) format('truetype'), /* Safari, Android, iOS */
       url(../css/sourcesanspro-regular-webfont.svg) format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url(../css/sourcesanspro-bold-webfont.woff2) format('woff2'), /* Super Modern Browsers */
       url(../css/sourcesanspro-bold-webfont.woff) format('woff'), /* Pretty Modern Browsers */
       url(../css/sourcesanspro-bold-webfont.ttf) format('truetype'), /* Safari, Android, iOS */
       url(../css/sourcesanspro-bold-webfont.svg) format('svg'); /* Legacy iOS */
}

html {
    font: normal 100% 'SourceSansPro', sans-serif;
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 100%;
    color: #6A6A6A;
    line-height: 1.625;
}

h1 {
    position: absolute;
    top: 4%;
    left: 6%;
    font-family: 'SourceSansProBold', sans-serif;
    font-size: 2.9em;
    color: #FFF;
    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.9);
}

h2 {
    font-family: 'SourceSansProBold', sans-serif;
    font-size: 1.5em;
    color: #4A96FB;
}

h3 {
    font-size: 2em;
    text-align: left;
}

p {
    font-size: 1.25em;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

.bold {
    font-family: 'SourceSansProBold', sans-serif;
}

.blue {
    color: #0A20A2;
}

.white {
    color: #FFF;
}

.gray {
    background-color: #6A6A6A;
}

.ltblue {
    color: #4A96FB;
}

.main-menu .menu-close {
    text-decoration: none !important;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit; text-decoration: none; 
} 

nav,
nav div,
nav ul,
#banner,
.offices,
.services,
footer div,
form div,
footer nav,
footer nav + div {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}



/* Header Navigation */

/* Tabs */

#tab-navigation a {
    width: 100%;
    margin: 0 auto;
}

#tab-navigation a > div {
    justify-content: center;
    align-items: center;
    padding: 1.5% .1em;
}

#tab-navigation a + a {
   border-left: .1em solid #6A6A6A;
}

.location {
    width: 3%;
}

.address {
    font-size: .7em;
}


/* Mobile Menu */

.menu-toggle,
.main-menu .menu-close {
    display: none;
  }
  
.main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
}
  
.main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
.main-menu a:hover,
.main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #6A6A6A;
}

.sub-nav {
    display: none;
}


/* Location - Navigation */

#location-navigation ul {
    width: 100%;
    padding: 3em 5% 0;
    justify-content: flex-end;
}

#location-navigation ul li {
    padding: 0 2% 0 0;
    font-size: .9em;
    color: #0A20A2;
}


/* Header Banner */

#banner {
    padding: 1% 5%;
    justify-content: space-between;
}

#banner > * {
    align-self: center;
}

.logo {
    width: 15%;
}

#banner > span {
    font-family: 'SourceSansProBold', sans-serif;
    font-size: 3.5em;
}

.heart {
    width: 15%;
}

.heart-md {
    width: 19%;
}

.fb {
    width: 60%;
}


/* Main - Main */ 

main {
    position: relative;
}

main p {
    padding: 1% 5%;
}


/* Offices and Services */

.offices {
    padding: 1% 5%;
    justify-content: space-between;
    text-align: center;
}

.offices > div {
    width: 45%;
    font-size: 1.25em;
}

.circle {
    border-radius: 50%;
}

.button {
    width: 70%;
    margin: 0 auto;
    background-color: #0A20A2;
    padding: 2% 1%;
    color: #FFF;
    border-radius: 10px;
    font-size: .7em;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.services {
    flex-flow: row wrap;
    padding: 2% 5% 1%;
}

.services > div {
    padding: 0 3% 0 0;
    flex: 1 0 30%;
    align-items: flex-start;
}

.services > div + div + div {
    padding-right: 0;
}

.services  p {
    width: 100%;
    padding: 0;
    font-size: 1em;
} 

.services .button {
    width: 100%;
    margin-top: 2%;
    font-size: 1em;
}


/* Main - Location */

main#location img {
    width: 100%;
}


/* Main - Detail */ 

main#detail {
    width: 75%;
    margin: 0 0 2% 0;
    float: right;
}

main#detail h1 {
    position: relative;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 2.9em;
    color: #4A96FB;
    text-shadow: none;
    top: 0;
    left: 0;
}

main#detail img {
    width: 40%;
    float: right;
    margin: 0 5% 0 2%;
}

main#detail p {
    padding: 1% 5% 1% 0;
}

main#detail ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

main#detail ul > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

main#detail .button {
    text-align: left;
    padding: 2% 2%;
}

main#detail .email, aside .email {
    text-decoration: underline;
}


/* Aside - Detail */

aside {
    width: 25%;
    float: left;
}

aside ul {
    display: block;
    width: 80%;
    margin: 0 10%;
}

aside li {
    padding: 3% 0;
}

aside .button {
    width: 60%;
    margin: 0 10%;
    padding: 7%;
    background-color: #4A96FB;
    text-align: left;
}


/* Footer */

body#main footer nav {
    justify-content: center;
    padding: 1% 15%;
    font-size: .9em;
}

body#main footer nav a {
    width: 30%;
    padding: 0 5%;
}

footer nav + div {
    padding: 2% 0;
    background-color: #4A96FB;
    color: #FFF;
    justify-content: center;
}


/* Footer - Location */

footer div,
footer nav ul {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em 5%;
    clear: both;
}

footer div > section {
    flex: 1 0 30%;
    padding: 0 3% 0 0;
    align-items: flex-start;
}

footer div > section + section + section{
    padding-right: 0;
}


/* Contact Form */

form ul {
    display: flex;
    flex-flow: column wrap;
}

form ul li {
    padding: 0 0 3%;
}

input[type=text],
textarea,
select {
    width: 100%;
    padding: 2% 4%;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    box-sizing: border-box;
    font-size: 1em;
    color: #6A6A6A;
}

::-webkit-input-placeholder { 
    color: #CCC;
    font-family: 'SourceSansPro', sans-serif; 
}

::-moz-placeholder {
    color: #CCC;
    font-family: 'SourceSansPro', sans-serif;
}

:-ms-input-placeholder {
    color: #CCC;
    font-family: 'SourceSansPro', sans-serif;
}

:-moz-placeholder {
    color: #CCC;
    font-family: 'SourceSansPro', sans-serif;
}

input[type=submit] {
    width: 25%;
    background-color: #0A20A2;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 1em;
    color: #FFF;
    padding: 2% 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

@-moz-document url-prefix(){
    input[type=submit] {
    margin-top: 1.5em;
    }
}


/* Office Hours */

.hours {
    display: flex;
}

.hours li {
    flex-basis: 30%;
    text-align: left;
    padding-top: 2%;
    font-size: 1em;
}

.hours .right-col {
   flex-basis: 70%;
}


/* Footer Navigation */
 
footer nav ul {
    width: 90%; 
}

footer nav ul > li {
    font-family: 'SourceSansProBold', sans-serif;
    color: #0A20A2;
    padding: 1%;
}




/**** Mobile First Media Queries ****/


/*** Up to 5200px ***/
@media only screen and (max-width: 325em) {
  
    body {
        font-size: 400%;
    } 
}

/*** Up to 3904px ***/
@media only screen and (max-width: 244em) {
    
    body {
         font-size: 300%;
    }         
}

/*** Up to 2640px ***/
@media only screen and (max-width: 165em) {
    
    body {
         font-size: 200%;
    }   
}

/*** Up to 2000px ***/
@media only screen and (max-width: 125em) {
    
    body {
         font-size: 150.2%;
    }     
}

/*** Up to 1840px ***/
@media only screen and (max-width: 115em) {
 
    body {
         font-size: 133.3%;
    }        
}

/*** Up to 1520px ***/
@media only screen and (max-width: 95em) {
 
    body {
         font-size: 111.1%;
    }        
}

/*** Up to 1360px ***/
@media only screen and (max-width: 85em) {
   
    body {
        font-size: 95%;
    } 
}
    
/*** Up to 1280px ***/    
@media only screen and (max-width: 80em) {
    
    body {
        font-size: 95%;
    } 
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
    body {
        font-size: 85%;  
    }         
}

/*** Up to 1040px ***/
@media only screen and (max-width: 65em) {
    
    body {
         font-size: 80%;
    }    
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
    body {
        font-size: 70%;
    }      
}

/*** Up to 880px 150% ***/
@media only screen and (max-width: 55em) {
  
    body {
       font-size: 65%;
    }   
}




/************ Change Format ************/


/*** Up to 800px ***/
@media only screen and (max-width: 50em) {
 
    body {
        font-size: 90%;
    }  
    
    h1 {
        position: absolute;
        top: 0;
        left: 3%;
        font-size: 2.2em;
    }

    nav a {
        padding: 1% 0;
    }
    
    #banner, main p, .offices, .services {
        padding: 2% 5%;
    }
    

/* Mobile Menu */
    
    .menu-toggle {
        display: inline-block;
        margin: 5% 5% 0 5%;
        padding: 1% 1% 0;
        line-height: 1em;
        font-size: 3em;
        color: #6A6A6A;
        float: right;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #0A20A2;
    }  
    
    .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 10;
    }

    .main-menu ul {
        display: block;
        min-height: 100%;
        width: 100%;
        background: #0A20A2;
    }

    .main-menu a {
        display: block;
        padding: 1em;
        line-height: 1em;
        font-size: 1.25em;
        color: #FFF;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        text-decoration: underline;
        color: #FFF;
    }

    .main-menu .menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3em;
        padding: .5em;
    }

    .main-menu:target {
        left: 0%;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close {
        z-index: 12;
    }

    .main-menu:target ul {
        position: relative;
        z-index: 11;
    }
    
    .main-menu:target + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      background: rgba(0,0,0,0.5);
      cursor: default;
    }

    .sub-nav {
        display: block;
    }
    
/* Header Banner */

    #banner {
        flex-flow: wrap;
        clear: both;
    }

    .logo {
        width: 35%;
    }

    .heart {
        width: 40%;
    }
    
    .heart-md {
        width: 43%;
    }

    .fb {
        width: 80%;
    }
    
    
/* Main - Main */    

    .button {
        width: 80%;
    }
    
    .services {
        padding-top: 4%;
    }

    .services > div {
        flex: 1 0 44%;
        padding: 2% 3% 2% 0;
    }
    
    .services > div + div {
        padding:  1em 0;
    }
    
    .services img {
        width: 100%;
    }
    
    
/* Main - Detail */ 

    main#detail {
        width: 90%;
        margin: 0 5%;
        float: none;
    }

    main#detail img {
        width: 40%;
        float: right;
        margin: 0 0 0 4%;
    }

    main#detail p {
        width: 100%;
        padding: 2% 0;
    }
    

/* Aside - Detail */

    aside {
        display: none;
    }


/* Footer */

    body#main footer nav {
        padding: 2% 10%;
    }
    
    body#main footer nav a {
        width: 50%;
        padding: 0 5%;
    }
    
    
/* Footer - Location */

    footer div > section {
        flex: 1 0 44%;
        padding: 2% 6% 2% 0;
    }

    footer div > section + section {
        padding:  2% 0;
    }  
    
    .hours li, .hours .right-col {
        flex-basis: 50%;
    }
}


/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
    body {
        font-size: 80%;
    }          
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
    body {
        font-size: 70%;
    }      
}


/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
    body {
        font-size: 90%;
    }  
    
    h1 {
        font-size: 2em;
    }
    
    #banner, main p, .offices, .services {
        padding: 4% 5%;
    }
    
    
/* Header Navigation */

/* Tabs */
    
    nav {
        flex-flow: column wrap;
    }
    
    nav a {
        padding: 0;
    }
    
    #tab-navigation a + a {
        border-left: none;
    }
    
    
/* Mobile Menu */

    .main-menu {
        width: 80%;
    }
    
    
/* Header Banner */

    .logo {
        width: 90%;
    }
    
    #banner > span {
        font-size: 3.2em;
    }

    .heart {
        width: 75%;
    }
    
    .heart-md {
        width: 72%;
    }

    .fb {
        width: 90%;
    }
    
    
/* Main - Main */    
    
    .offices {
        flex-flow: column wrap;
    }
    
    .offices > div {
        width: 100%;
        padding: 4% 0 8%;
    }
    
    .services {
        padding-top: 0;
    }
    
    .services > div {
        flex: 1 0 100%;
        padding: 1em 0;
    }
    

/* Main - Detail */ 

    main#detail {
        margin: 0 5% 5%;
    }

    main#detail img {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    main#detail p {
        padding: 3% 0;
    }
    

/* Footer */

    body#main footer nav {
        padding: 0 5% 4%;
        flex-flow: column wrap;
    }

    body#main footer nav a {
        width: 100%;
        padding: 2% 0;
    }
    
    footer nav + div {
        padding: 6% 0;
    }
    
    
/* Footer - Location */

    footer div > section {
        flex: 1 0 100%;
        padding: 0 0 4% 0;
    }

    footer div > section + section {
        padding: 4% 0;
    }  
    
    .hours li, .hours .right-col {
        flex-basis: 50%;
    }    
}


/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
    body {
        font-size: 90%;
    }  
    
    h1 {
        font-size: 1.5em;
    }
    
     #banner > span {
        font-size: 2.5em;
    }
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

    body {
        font-size: 85%;
    }   
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
    body {
        font-size: 80%;
    }  
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {
   
    body {
        font-size: 70%;
    }   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

    body {
        font-size: 60%;
    }     
}